@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

*{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
nav{
    width: 100%;
    height: 85px;
    background-color: rgb(121, 54, 54);
    line-height: 75px;
    padding: 0px 80px;

}
nav .logo{
    float: left;
}
nav ul{
    float: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px 20px;
}

/*home section*/
#home{
    margin: 0;
    padding: 0;
    height: 60vh;
    /* background-color:#570519; */
    /* background-image: linear-gradient(#852285,#924e73) */
    background-image: url(images/pizza/chicago.jpg);
    background-size: cover;
    background-position: right;
}

h1{
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
    top: 200px;
    font-size: 40px;
    font-weight: normal;
    color: ivory;

}
h2{
    display: flex;
    justify-content: center;
    margin-top: 240px;
    color: ivory;
}


/*about section*/
#about{
    margin: 0;
    padding: 0;
    background-color: khaki;
    height: 30vh;
}
h3{
    position: relative;
    display: flex;
    justify-content: center;
    top: 70px;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}
p{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    text-align: center;
}

/*services section*/
#services{
    margin: 0;
    padding: 0;
    background-color: rgb(190, 148, 70);
    height: 50vh;
}
h4{
    position: relative;
    display: flex;
    justify-content: center;
    top:10px ;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    
}

.accordion {
    max-width: 600px;
    background: rgba(0, 0, 0, 0.10);
    height: 300px;
    margin: 20px auto;
    display: flex; 
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 100px;
}
.box {
    position: relative;
    height: 100%;
    flex: 1;
    background-position: left;
    background-size: cover;
    transition: .7s;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.box:hover{
    flex: 7;
    height: 150px;
}
.a1{
    background-image: url(images/services/bakery.jpeg);
}
.a2{
    background-image: url(images/services/delivery.png);
}
p1{
    font-weight: normal;
    font-family: 'Exo 2', sans-serif;

}
 .text{
    
    padding: 10px;
    color: black;
    margin-top: 150px;
    position: absolute;
    opacity: 0;

} 
.box:hover .text{
    opacity:1;
}
#pizza{
    background-color: rgb(207, 155, 155);
    height: 70vh;
}
h5{
    position: relative;
    display: flex;
    justify-content: center;
    top: 30px;
    font-size: 30px;
    text-transform: uppercase;
}
p2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
section-1{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* width: 20px; */
    /* background-color: rgb(133, 68, 68); */
    left: 30px;
}
#lg{
    margin-left: 30px;
    padding: 0;
}
#sm{
    margin-right: 30px;
    padding: 0;
}
#md{
    padding: 0;
}

section-2{
    position: relative;
    right: 165px;
    top: 60px;
}
p3{
    position: relative;
    margin-left: 390px;
    top: 30px;
}
.f1{
    margin-top: 50px;
    justify-content: center;
    display: flex;
}
